<!--<table class="table table-hover table-striped container">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th scope="col">#</th>-->
<!--    <th scope="col">Word</th>-->
<!--    <th scope="col">Mean</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr *ngIf="word, else block">-->
<!--    <th scope="row">{{word.id}}</th>-->
<!--    <td>{{word.word}}</td>-->
<!--    <td>{{word.mean}}</td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->

  <p>{{word.mean}}</p>


<ng-template #block>
  <app-error-pass></app-error-pass>
</ng-template>
