<app-header></app-header>
<app-navigation></app-navigation>
<div style="margin-bottom: 30px">
  <form class="decor" id="from" [formGroup]="facilityForm" (ngSubmit)="update()">
    <div class="form-left-decoration"></div>
    <div class="form-right-decoration"></div>
    <div class="circle"></div>
    <div class="form-inner">
      <h1>Form chỉnh sửa dịch vụ</h1>
      <select class="form-select" formControlName="facilityType">
        <option *ngFor="let facType of facilityTypeList">{{facType.name}}</option>
      </select>
      <select style="margin-top: 10px" class="form-select" formControlName="rentType">
        <option *ngFor="let rentType of rentTypeList">{{rentType.name}}</option>
      </select>
      <input type="text" placeholder="Tên dịch vụ" formControlName="name" style="margin-top: 10px">
      <input type="text" placeholder="Diện tích" formControlName="area">
      <input type="text" placeholder="Giá" formControlName="cost">
      <input type="text" placeholder="Số người tối đa" formControlName="maxPeople">
      <input type="text" placeholder="Loại phòng" formControlName="standardRoom">
      <input type="text" placeholder="Mô tả tiện nghi khác" formControlName="descriptionOtherConvenience">
      <input type="text" placeholder="Diện tích hồ bơi" formControlName="poolArea">
      <input type="text" placeholder="Ảnh" formControlName="img">
      <input type="text" placeholder="Số tầng" formControlName="numberOfFloor">
      <input type="text" placeholder="Dịch vụ miễn phí đi kèm" formControlName="facilityFree">
      <button type="button">Submit</button>
    </div>
  </form>
</div>
<app-footer></app-footer>
