<form [formGroup]="reactiveForm" (ngSubmit)="createUser()">
  <table class="table table-success table-striped container">
    <tr>
      <th>Id:</th>
      <td>
        <input class="text" type="text" name="id" placeholder="id" formControlName="id">
        <p style="color: black"
           *ngIf="reactiveForm.controls.id.hasError('required')&& reactiveForm.controls.id.touched ">Không được để
          trống</p>
      </td>
    </tr>
    <tr>
      <th>Email:</th>
      <td>
        <input class="text" type="text" name="email" placeholder="email" formControlName="email">
        <p style="color: black"
           *ngIf="reactiveForm.controls.email.hasError('required')&& reactiveForm.controls.email.touched">Không được để
          trống</p>
        <p style="color: black" *ngIf="reactiveForm.controls.email.hasError('pattern')">Phải đúng định dạng
          xxx@xx.xxx</p>
      </td>
    </tr>
    <tr>
      <th>Giới Tính:</th>
      <td>
        Nam: <input type="radio" name="gender" size="45" value="true">
        Nữ : <input type="radio" name="gender" size="45" value="false">
        <p style="color: black"
           *ngIf="reactiveForm.controls.gender.hasError('required')&& reactiveForm.controls.gender.touched"></p>
      </td>
    </tr>

    <tr>
      <th>User Name:</th>
      <td>
        <input class="text" type="text" name="user" placeholder="user" formControlName="user">
        <p style="color: black"
           *ngIf="reactiveForm.controls.user.hasError('required')&& reactiveForm.controls.user.touched">Không được để trống</p>
        <p style="color: black" *ngIf="reactiveForm.controls.user.hasError('minLength')">Có độ dài ít nhất 6 kí tự</p>
      </td>
    </tr>

    <tr>
      <th>Country:</th>
      <td>
        <select name="country" formControlName="country">
          <option value="VietNam">VietNam</option>
          <option value="China">China</option>
          <option value="">VietNam</option>
        </select>
      </td>
    </tr>
    <tr>
      <th>Phone Number:</th>
      <td>
        <input class="text" type="text" name="phone" placeholder="phone">
        <p style="color: black"
           *ngIf="reactiveForm.controls.phone.hasError('required')&& reactiveForm.controls.phone.touched">Không được để trống</p>
        <p style="color: black" *ngIf="reactiveForm.controls.phone.hasError('pattern')"> bắt đầu với +84, và theo sau là 9 đến 10 chữ số</p>
      </td>
    </tr>
    <tr>
      <th>Age:</th>
      <td>
        <input class="text" type="text" name="age" placeholder="age" formControlName="age">
        <p style="color: black" *ngIf="reactiveForm.controls.age.hasError('min')&& reactiveForm.controls.age.touched">Tuổi nhỏ nhất là 18</p>
      </td>
    </tr>
    <tr>
      <th>Pass Word:</th>
      <td>
        <input class="text" type="password" name="password" placeholder="Password">
        <p style="color: black"
           *ngIf="reactiveForm.controls.password.hasError('required')&& reactiveForm.controls.password.touched">Không được để trống</p>
        <p style="color: black" *ngIf="reactiveForm.controls.password.hasError('minLength')&& reactiveForm.controls.password.touched">Pass có độ dài ít nhất 6 kí tự</p>
      </td>
    </tr>
    <tr>
      <th>Pass Word ConFirm:</th>
      <td>
        <input class="text" type="password" name="confirmPassword" placeholder="confirmPassword"
               (change)="passwordCheck()">
        <p style="color: black"
           *ngIf="reactiveForm.controls.confirmPassword.hasError('required')&& reactiveForm.controls.confirmPassword.touched">Không được để trống</p>
        <p style="color: black" *ngIf="reactiveForm.controls.confirmPassword.hasError('errorPass')&& reactiveForm.controls.confirmPassword.touched">Confirm phải trùng với password</p>
      </td>
    </tr>

    <tr>
      <th></th>
      <td>
        <button type="submit" style="margin: auto">Update</button>
      </td>
    </tr>
  </table>
</form>
