
<!--    Footer-->
<div class="row" style="background: #046056">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-3" style="background: #343a40; color: white">
    <h1 style="color: #cbbe73">CodeGym Đà Nẵng</h1>
    <h4 style="color: #0a58ca">Footer</h4>
  </div>
  <div class="col-lg-3" style="margin-top: 30px">
    <ul style="color: darkgray">
      <li>Giá Công Bố</li>
      <li style="margin-top: 10px">Lifestyle Blog</li>
      <li style="margin-top: 10px">Tuyển Dụng</li>
      <li style="margin-top: 10px">Liên Hệ</li>
    </ul>
    <div class="col-lg-4">
      <h5 style="color: #cbbe73">Liên Hệ</h5>
    </div>
  </div>
</div>

