<app-header></app-header>
<app-navigation></app-navigation>
<div>
  <form action="/" class="decor" id="from" >
    <div class="form-left-decoration"></div>
    <div class="form-right-decoration"></div>
    <div class="circle"></div>
    <div class="form-inner">
      <h1 style="color: #1e2125">Form thêm mới khách hàng</h1>
      <input type="text" placeholder="Tên khách hàng">
      <input type="text" placeholder="Mã khách hàng">
      <input type="text" placeholder="Ngày sinh">
      <input type="text" placeholder="Giới tính">
      <input type="text" placeholder="Căn cước">
      <input type="text" placeholder="Số điện thoại">
      <input type="text" placeholder="Địa chỉ">
      <input type="text" placeholder="Email">
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
<app-footer></app-footer>
