<app-header></app-header>
<div><h1 style="text-align: center">Trang thêm mới</h1></div>
<form  class="container">
  <div class="m-4 row">
    <div class="col-sm-2">User Type Name</div>
    <div class="col-sm-10">
      <select class="form-select">
        <option value="">Customer Type Name</option>
        <option ></option>
      </select>
    </div>
  </div>
  <div class="m-4 row">
    <label  class="col-sm-2 col-form-label">Name: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control">
<!--      <p class="text-danger">Chữ cái đầu phải viết hoa</p>-->
    </div>
  </div>
  <div class="m-4 row">
    <label  class="col-sm-2 col-form-label">Title: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control">
    </div>
  </div>
<!--  <div class="m-4 row">-->
<!--    <label class="col-sm-2">Gender: </label>-->
<!--    <div class="col-sm-10">-->
<!--      <label>-->
<!--        <input type="radio">-->
<!--      </label>Nam-->
<!--      <label>-->
<!--        <input type="radio">-->
<!--      </label>Nữ-->
<!--    </div>-->
<!--  </div>-->
  <div class="m-4 row">
    <label class="col-sm-2 col-form-label">Phone Number: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control">
<!--      <p class="text-danger">Không đúng định dạng</p>-->
    </div>
  </div>
  <button type="submit" class="d-flex justify-content-center btn btn-outline-success" style="margin: 0 auto">Save</button>
</form>
<app-footer></app-footer>
